// 변수사용
$color: royalblue;

.container {
  // 중첩사용
  h1 {
    color: $color;
  }
  ul {
    li {
      font-size: 35px;
      .name {
        color: green;
      }
      .age {
        color: red;
      }
    }
  }
}
